<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"/>
            <td th:text="${author.firstName}"/>
            <td th:text="${author.lastName}"/>
        </tr>
    </tbody>
</table>
</body>
</html>